<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding center center-text>
  <ion-list>
    <img src="../../assets/imgs/logo.png" alt="ft" center>
    <form [formGroup]="signupForm">
      <ion-item>
        <ion-label floating>NAME</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <span *ngIf="signupForm.controls.name.hasError('required') && signupForm.controls.name.touched" class="info-span-control">This
        is required</span>
      <span *ngIf="signupForm.controls.name.hasError('maxlength') && signupForm.controls.name.touched" class="info-span-control">Max
        length is 10 characters</span>

      <ion-item>
        <ion-label floating>EMAIL</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <span *ngIf="signupForm.controls.email.hasError('required') && signupForm.controls.email.touched" class="info-span-control">This
        is required</span>
      <span *ngIf="signupForm.controls.email.hasError('email') && signupForm.controls.email.touched && !signupForm.controls.email.hasError('required')"
        class="info-span-control">Is not an email</span>

      <ion-item>
        <ion-label floating>PASSWORD</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <span *ngIf="signupForm.controls.password.hasError('required') && signupForm.controls.password.touched" class="info-span-control">This
        is required</span>
      <span *ngIf="signupForm.controls.password.hasError('minlength') && signupForm.controls.password.touched && !signupForm.controls.password.hasError('required')"
        class="info-span-control">Min length is 4 characters</span>

      <ion-item>
        <ion-label floating>CONFIRM PASSWORD</ion-label>
        <ion-input type="password" formControlName="repetpassword"></ion-input>
      </ion-item>
      <span *ngIf="signupForm.controls.repetpassword.hasError('required') && signupForm.controls.repetpassword.touched"
        class="info-span-control">This is required</span>
      <span *ngIf="signupForm.controls.repetpassword.value != signupForm.controls.password.value && signupForm.controls.repetpassword.touched && !signupForm.controls.repetpassword.hasError('required')"
        class="info-span-control">The passwords are not equals</span>
    </form>
  </ion-list>
  <button ion-button full clear (click)="next()">ENTER</button>

  <ion-item align-self-center>
    <ion-label text-wrap>I agree and accept the <a ion-text color="primary">terms and conditions of use</a> and <a ion-text color="primary">privacy politics</a>
    </ion-label>
    <ion-checkbox color="primary" [(ngModel)]="privacyCheck"></ion-checkbox>
  </ion-item>
  <span *ngIf="!privacyCheck" class="info-span-control">You need to accept the privacy politics</span>


  <button ion-button icon-end clear full color="dark" (click)="loginWithFacebook()">
    Login with Facebook
    <ion-icon color="primary" name="logo-facebook" text-lowercase></ion-icon>
  </button>
</ion-content>
