<ion-header>
  <ion-navbar>
    <ion-title>Portfolio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-padding>
    <ion-grid *ngIf="edit">
      <ion-row>
        <ion-col col-12 class="colNav">
          <h1>Step 5</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h3 class="ion-title">Select a package</h3>
    <h6>You can adjust your payments</h6>
  </ion-toolbar>

  <div padding>
    <p><b>Packages</b></p>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            Basic
          </ion-item>
        </ion-col>
        <ion-col col-auto text-center>
          <ion-item>
            x
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>3 hrs</ion-label>
            <ion-toggle [(ngModel)]="basic" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="basic">
        <ion-col col-1 text-right align-self-center justify-content-center>
          $
        </ion-col>
        <ion-col col-7 align-self-center justify-content-center>
          <ion-item>
            $<ion-input type="number" placeholder="Type your budget" [(ngModel)]="priceBasic"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <ion-item>
            Gold
          </ion-item>
        </ion-col>
        <ion-col col-auto text-center>
          <ion-item>
            x
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>5 hrs</ion-label>
            <ion-toggle [(ngModel)]="gold" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="gold">
        <ion-col col-1 text-right align-self-center justify-content-center>
          $
        </ion-col>
        <ion-col col-5 align-self-center justify-content-center>
          <ion-item>
            <ion-input type="number" placeholder="Type your budget" [(ngModel)]="priceGold"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6 text-center align-self-center justify-content-center>
          + lunch break 45 min
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <ion-item style="font-size: 17px">Premium</ion-item>
        </ion-col>
        <ion-col col-auto text-center>
          <ion-item>
            x
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>8 hrs</ion-label>
            <ion-toggle [(ngModel)]="premium" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="premium">
        <ion-col col-1 text-right align-self-center justify-content-center>
          $
        </ion-col>
        <ion-col col-5 align-self-center justify-content-center>
          <ion-item>
            <ion-input type="number" placeholder="Type your budget" [(ngModel)]="pricePremium"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6 text-center align-self-center justify-content-center>
          + lunch break 45 min
        </ion-col>
      </ion-row>

      <ion-row padding-top>
        <ion-col col-12 text-wrap>
          * Overtime will be charged 10% of the cost for each packages.
        </ion-col>
        <ion-col col-12 text-wrap>
          * Lunch break food not provided by the client.
        </ion-col>
        <ion-col col-12 text-center text-wrap padding-top (click)="termConditions()" >
          Check terms and conditions
        </ion-col>
      </ion-row>

    </ion-grid>
    <button color="dark" text-capitalize ion-button full clear (click)="next()"><b style="font-size: 20px;">Next</b></button>
  </div>

</ion-content>
