<!-- Generated template for the FooterTabsHireComponent component -->
<div>
  <ion-segment [(ngModel)]="mymodel">
    <ion-segment-button value="segment1" (click)="tabs()">
      <ion-icon ios="ios-home-outline" md="md-home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="segment2" (click)="tabs()">
      <ion-icon ios="ios-briefcase-outline" md="md-briefcase"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="segment3" (click)="tabs()">
      <ion-icon ios="ios-search-outline" md="md-search"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="segment4" (click)="tabs()">
      <ion-icon ios="ios-star-half-outline" md="md-star-half"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</div>
