<!-- Generated template for the HeaderMenuComponent component -->
<div>
  <ion-list no-lines>
    <ion-item (click)="perfilWorkPage()">
      <button menuClose ion-item>
        Profile
      </button>
    </ion-item>
    <ion-item (click)="notificationsWorkPage()">
      <button menuClose ion-item>
        Notifications
      </button>
    </ion-item>
    <ion-item (click)="chatListPage()">
      <button menuClose ion-item>
        Chats
      </button>
    </ion-item>
    <ion-item (click)="setingsPage()">
      <button menuClose ion-item>
        Settings
      </button>
    </ion-item>
    <ion-item (click)="linkedAccountsPage()">
      <button menuClose ion-item>
        Linked accounts
      </button>
    </ion-item>
    <ion-item (click)="idVerificationPage()">
      <button menuClose ion-item>
        Verify your ID*
      </button>
    </ion-item>
    <!-- <ion-item (click)="termsConditionsPage()">
      <button menuClose ion-item>
        Terms and conditions
      </button>
    </ion-item> -->
    <ion-item (click)="copyrightPage()">
      <button menuClose ion-item>
        Copyright
      </button>
    </ion-item>
    <ion-item (click)="logoutClicked()">
      <button menuClose ion-item>
        Log out
      </button>
    </ion-item>
  </ion-list>
</div>