page-suport-help {
  .scroll-content {
    border-top: 6px solid rgb(25, 111, 211);
  }

  .seccion {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    background: rgba(236, 236, 236, 0.883);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.18);
  }

  .list-avatar-page {
    ion-note {
      font-size: 14px;
      align-self: flex-start;
    }

    p {
      display: inline;
      font-size: 10px;
      padding-top: 0px
    }

    b {
      font-size: 17px;
    }
  }


  .item-ios ion-avatar img {
    width: 60px;
    height: 60px;
  }

  .list>.item-block:first-child {
    border-top: 0.0px solid #c8c7cc;
  }

  .list>.item-block:last-child,
  .list>.item-wrapper:last-child .item-block {
    border-bottom: 0.0px solid #c8c7cc;
  }

  ion-title {
    text-align: center;
  }

  .segment-ios .segment-button {
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-width: 0px;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #488aff;
    background-color: transparent;
  }

  .segment-md .segment-button {
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-width: 0px;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #488aff;
    background-color: transparent;
  }

  .segment-ios .segment-button ion-icon {
    font-size: 3.0rem;
    margin-top: 5px;
    line-height: 2.8rem;
  }

  .segment-md .segment-button ion-icon {
    font-size: 3.0rem;
    margin-top: 5px;
    line-height: 2.8rem;
  }

  ion-footer {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .10);
    background: white;
  }

  .segment-ios .segment-button.segment-activated {
    color: #00379d;
    background-color: #e4e4e4;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
  }

  .segment-md .segment-button.segment-activated {
    color: #00379d;
    background-color: #e4e4e4;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
  }

  ion-segment {
    border-top: 1px solid darkgray;
  }
}
