<!--
  Generated template for the AboutFtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="seccion">
    <h1 no-margin><b>About FilmTrade</b></h1>
  </div>
  <div padding style="text-align: justify">
    <p>Film Trade is a one-stop service platform where you can find and hire creative pros for any type of audiovisual
      service.</p>
    <p>Our easy to use app consists of a vast database of ready to work professionals, accesible at the best rates in
      the market.</p>
    <p>
      Forget the creative industry as you know it and get ready to book, work and get paid on the spot.
    </p>
    <br>
    <p>
      Welcome to FILM TRADE.
    </p>

  </div>

</ion-content>
<ion-footer>
  <!-- <div *ngIf="sesionObject.tipo_usuario == 2">
    <footer-tabs></footer-tabs>
  </div>
  <div *ngIf="sesionObject.tipo_usuario == 3">
    <footer-tabs-hire></footer-tabs-hire>
  </div> -->
</ion-footer>
